/* SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

 FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
.centering {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#square-field {
  width: 50rem;
  height: 50rem;
  display: grid;
  gap: 1px;
  background-color: rgba(68, 68, 68, 0.325);

  grid-template-columns: repeat(1, 2fr);
  margin-bottom: 3.2rem;
  border: 2px solid black;
}
.square-box {
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
}

.highlight {
  background-color: rgb(47, 47, 47);
}
