/* SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

 FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
#square-field {
  width: 50rem;
  height: 50rem;
  display: grid;

  background-color: rgba(68, 68, 68, 0.325);

  grid-template-columns: repeat(1, 2fr);
  margin-bottom: 2rem;
  border: 2px solid black;
}
.button-right {
  display: flex;
  gap: 6rem;
  flex-direction: column;
}

.range-div {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#color {
  border: 0.5px solid #000;
  width: auto;
}
#range {
  width: 40rem;
  -webkit-appearance: none;
  appearance: none;

  background: #d3d3d3;
  border-radius: 2rem;
  opacity: 0.6;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4rem;
  height: 2rem;
  border-radius: 100px;
  background: #000;
  cursor: pointer;
}

.square {
  background-color: #fff;
  border: 0.5px solid rgb(191, 191, 191);
  user-select: none;
}
.color {
  border: 0.5px solid rgb(191, 191, 191);
}
